@use 'partials/board';
@use 'partials/buttons';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, sans-serif;
  color: #eee;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: #333;
}

.ta-c {
  text-align: center;
}
