.overlay {
  height: 100%;
  width: 100%;
  color: rgb(60, 202, 25);
  font-size: 5em;
  font-weight: 700;
  letter-spacing:  6px;
  text-shadow: 3px 4px 2px #252525;
  text-align: center;
  display: grid;
  place-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 9999;

  h3 {
    color: #252525;
    font-weight: bolder;
    font-size: 35px;
    text-shadow: 2px 2px 1px rebeccapurple;
  }
}